.header {
  background: #4fbcff;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
  display: flex;
  height: $header-height;
  justify-content: space-between;
  position: relative;
  z-index: 100;
}

.header-nav {
  margin: auto 0;
  padding-right: 30px;
}

.header-nav-button {
  @include size(20px);
  margin: auto 0 auto $base-spacing;
  position: relative;

  &::before {
    @include position(absolute, -4px -6px -3px);
    background-color: rgba(0, 0, 0, 0);
    border-radius: 50%;
    content: "";
    transition: $base-transition;
  }

  &:hover,
  &--active {
    &::before {
      background-color: rgba(0, 0, 0, 0.2);
    }
  }

  &--about {
    &::before {
      @include position(absolute, -4px -2px -3px -6px);
    }
  }
}

.header-nav-button-icon {
  @include position(5px null null);
  @include size(20px);
  opacity: 0.75;
  transition: $base-transition;

  .header-nav-button--active & {
    opacity: 1;
  }
}

.header-nav-link {
  color: #c5e9ff;
  font-size: 0.875rem;
  letter-spacing: 0.1rem;
  margin-right: $base-spacing;
  text-transform: uppercase;

  &:hover {
    color: #fff;
  }
}

.header-menu {
  display: flex;
}

.header-menu-icon {
  @include size(78px 56px);
  opacity: 0.75;
  padding: 16px 24px 16px 30px;
  user-select: none;

  &:hover {
    opacity: 1;
  }
}

.header-menu-icon-image {
  @include size(24px);
}

.header-logo {
  @include position(1px null null);
  color: #fff;
  font-weight: 300;
  margin: auto 0;
}
