.leaflet-layer {
  z-index: 2;
}

.leaflet-gl-layer {
  z-index: 1;
}

.leaflet-control-coordinates {
  background-color: rgba(255, 255, 255, 0.75);
  padding: 2px 10px;

  .labelFirst {
    font-family: monospace;
  }
}

.leaflet-popup--custom {
  .leaflet-popup-content {
    a {
      color: #fff;
    }
  }

  .leaflet-popup-close-button {
    color: rgba(#fff, 0.5);
  }

  .leaflet-popup-content-wrapper,
  .leaflet-popup-tip {
    box-shadow: none;
  }

  .leaflet-popup-content-wrapper {
    background: rgba(#534576, 0.8);
    border-radius: 3px;
    color: #fff;
  }

  .leaflet-popup-tip {
    background: rgba(#534576, 0.8);
  }
}
