.layer-nav {
  background: #fff;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
  height: 100%;
  padding: 2rem 2rem 4rem;
  position: absolute;
  right: 0;
  top: $header-height;
  transform: translate3d(100%, 0, 0);
  transition: all 0.5s;
  visibility: hidden;
  width: 19em;
  z-index: 10;

  &--active {
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
}

.layer-nav-link {
  color: #404040;
  display: block;
  font-size: 0.75rem;
  letter-spacing: 0.2em;
  margin: 0;
  padding: $base-spacing;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    background: #f8f8f8;
    color: #404040;
  }

  + .layer-nav-input {
    background: tint($light-gray, 65%);
    height: 0;
    overflow: hidden;
    transition: height 0.2s $ease-out-quint;
  }

  &.active {
    background: #48cfad;
    color: #fff;

    &:hover {
      background: #37bc9b;
    }

    + .layer-nav-input {
      height: 32px;
      padding: 7px 6px 6px;
    }
  }
}

.layer-nav-item {
  border: $base-border;

  &:first-child {
    border-radius: $base-border-radius $base-border-radius 0 0;
  }

  &:not(:first-child) {
    border-width: 0 1px 1px;
  }

  &:last-child {
    border-radius: 0 0 $base-border-radius $base-border-radius;
  }
}
