@charset "utf-8";

@import "normalize-rails";
@import "bourbon";
@import "base/grid-settings";
@import "neat";
@import "base/base";
@import "refills/flashes";

@import "MarkerCluster.Default.css";


body {
  margin: 0;
  padding: 0;
}

.map {
  bottom: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.mapboxgl-canvas {
  left: 0;
}
